@model Web.ViewModels.DrugViewModel
@{
    ViewBag.Title = "Edit Drug";
}
    <form asp-action="edit" asp-controller="drug" asp-route-id="@Model.Id" enctype="multipart/form-data">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <label asp-for="Tradename" class="control-label col-12">Tradename</label>
            <input type="text" asp-for="Tradename" class="form-control col-md-10" />
            <span asp-validation-for="Tradename" class="text-danger col-md-2"></span>
        </div>

        <div class="form-group row">
            <label asp-for="CompanyId" class="control-label col-md-12">Company</label>
            @Html.DropDownListFor(model => model.CompanyId, ViewBag.Companies as SelectList, new { @class = "form-control col-md-6" })
            <span asp-validation-for="Company" class="text-danger"></span>
        </div>



        <div class="form-group row">
            <label class="control-label col-12">Picture</label>
            <img src="@Model.Path" class="card-img col-md-3"   style="padding-bottom: 10px; max-height: 300px; max-width: 300px;" />
            <div class="col-md-8"> </div>
            <input type="file" name="file" class="" />
            <span class="text-danger col-md-2"></span>
        </div>

        <div class="form-group row">
            <label asp-for="Description" class="control-label col-12">Description</label>
            <textarea asp-for="Description" class="form-control col-md-10"> </textarea>
            <span asp-validation-for="Description" class="text-danger col-md-2"></span>
        </div>

       
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default btn-success" />
        </div>
    </form>